body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
 
  font-family: "Roboto", Verdana, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

a {
  display: block;

  text-decoration: none;
}
  
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: block;
  margin-top: 25px;
  padding: 10px 0;

  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: white; 

  background: #fb565a;
  border-radius: 3px;
  border: none;
}

.btn:hover,
.btn:focus {
  background: #e74246;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);

  background: #d7373b;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 0px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 0px 0px inset;
}

.button .btn:active {
  cursor: default;

  background-color: #e74246;
  opacity: 0.5;
} 

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Header*/

.main-header {
  min-height: 114px;body {
    min-width: 1200px;
    margin: 0;
    padding: 0;

    font-family: "Roboto", Verdana, sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

a {
    display: block;

    text-decoration: none;
}
    
img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    display: block;
    margin-top: 25px;
    padding: 10px 0;

    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: white; 

    background: #fb565a;
    border-radius: 3px;
    border: none;
}

.btn:hover,
.btn:focus {
    background: #e74246;
}

.btn:active {
    color: rgba(255, 255, 255, 0.3);

    background: #d7373b;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 0px 0px inset;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 0px 0px inset;
}

.button .btn:active {
    cursor: default;

    background-color: #e74246;
    opacity: 0.5;
} 

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

/*Header*/

.main-header {
    min-height: 114px;
    background-color: #eeeeee;
}

.main-navigation {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 115px;
    margin-bottom: 17px;
    font-weight: 600;
    text-transform: uppercase;

    background-color: transparent;
}

.main-header-logo a {
    list-style: none;
}

.main-header-logo img {
    width: 160px;
    height: 65px;
    margin-right: 203px;
    padding: 0;
    padding-top: 35px;
}

.main-header-logo img:hover {
    opacity: 0.8;
}

.main-header-logo img:active {
opacity: 0.3;
}

.site-navigation,
.user-block {
    list-style: none;
    display: block;

    margin: 0;
    padding: 0;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 633px;
    min-height: 31px;
    padding-top: 63px;
}

.site-navigation li.current {
    height: 33px;
    border-bottom: 2px solid #fb565a;
}

.user-block  {
    max-width: 165px;
    width: 74px;

    margin-left: 40px;
    padding-top: 63px;

    white-space: normal;
}

.site-navigation li:not(:last-child) {
    margin-right: 46px;
}

.site-navigation a,
.user-block a {
    display: block;

    color: #000000;
}

.header-link a:hover {
    color: #fb565a;
}
    
.header-link a:active {
    color: #000000;
    filter: alpha(Opacity=100);
    opacity: 0.3;
}

.user-block .basket-link {
    position: relative;

    padding-left: 50px;
}

.basket-link::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 9px;

    width: 16px;
    height: 17px;

    background-image: url("../img/basket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/*Map-address*/

.map {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    width: 100%;
    height: 418px;
    margin-left: auto;
    margin-right: auto;
}

.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 416px;
    min-width: 1200px;
    margin:0 auto;

    background-image: url("../img/map.jpg");
    background-color: #e9e8e3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1440px 420px;
}

.map .address {
    position: relative;

    width: 1200px;
    margin: 0 auto;
}

.address-container {
    width: 220px;
    margin-left: 20px;
    margin-top: 53px;
    padding: 48px 49px;
    
    text-align: left;

    background-color: #ffffff;
}

.address-title {
    display: block;
    padding-top: 2px;

    font-size: 18px;
    line-height: 30px;
    
    text-transform:uppercase;
}

.address p {
    display: block;
    width: 205px;
    margin-top: 23px;

    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

.address-tel {
    display: inline-block;
    margin-top: -4px;
    margin-bottom: 31px;
    vertical-align: middle;

    color: #666666;
    text-decoration: none;
}

.address .btn {
    width: 100%;
    padding: 10px 0;
    margin: 0;
}

/*Footer*/
.main-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 67px;
    margin-bottom: 59px;
}

.footer-social {
    width: 260px;
    height: 80px;
    margin-right: 141px;
}

.footer-social ul {
    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 260px;
    margin: 0 auto;
    padding: 0;

    text-align: center;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    width: 80px;
    height: 80px;

    border-radius: 50px;
    background-color: #e1e1e1;
}


.social-button a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80px;
    height: 80px;
    margin-right: 70px;
    padding-top: 25px;

    border-radius: 50px;
}

.social-button:hover,
.social-button:focus {
    background-color: #e74246;
}

.social-button:active,
.social-button:active {
    background: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 0px 0px inset;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 0px 0px inset;
}

.social-sale {
    list-style: none;

    width: 560px;
    min-height: 80px;

    text-align: left;
}
    
.social-sale b {
    display: block;

    margin-top: 6px;

    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
}
    
.social-sale p {
    display: block;
    margin-top: 5px;
}

/*Modal*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    width: 960px;
    height: 590px;
    padding: 67px 100px 75px 100px;
    margin: auto;

    font-size: 0;
    color: #00000017;

    background-color: #ffffff;
    -webkit-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
            box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal.is-hidden {
    display: none;
}

.modal-close {
    position: absolute; 
    top: 78px;
    right: 90px;
    
    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: transparent;
    border: 0;

    background-image: url("../img/close-cross.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;

    cursor: pointer;
}

.modal-close:focus,
.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
}

.modal h2 {
    margin-top: 0;
    margin-bottom: 42px;
    height: 36px;

    font-size: 45px;
    line-height: 45px;

    color:#000000;
}

.modal-content {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.modal label {
    margin-bottom: 15px;

    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}

.modal-content p.width-field {
    width: 100%;
}

.modal-content p {
    display: block;
    width: 360px;
    margin-bottom: 37px;

    color: #000000;
}

.modal input[type="text"],
.modal input[type="email"]{
    width: 100%;
    height: 50px;
}

.modal input[type="text"],
.modal input[type="email"],
.modal textarea {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 13px;

    font-size: 14px;

    border: 2px solid #d7dcde;
    border-radius: 3px;
}

.modal input:hover,
.modal textarea:hover {
    border: 2px solid #b4b9bb;
}

.modal-input.text-field,
.modal input:focus,
.modal textarea:focus,
.modal input:active,
.modal textarea:active {
    border: 2px solid #000000;
}

input[value],
textarea[placeholder] {
    color:#444444;
    opacity: 0.5;
}

.modal textarea {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    width: 100%;
    min-height: 115px;
    margin-right: 0;
    padding-top: 9px;
    padding-bottom: 12px;

    resize: none;
    
    border: 2px solid #d7dcde;
    border-radius: 3px;
}

.modal .btn {
    display: block;
    width: 260px;
    height: 50px;
    padding: 0 30px;
    margin-top: 0;

    text-align: center;
    color: #ffffff;

    border: none;
    background: #fb565a;
}

/*Slider*/

.slider {
    position: relative;
    min-height: 402px;
    margin-bottom: 79px;

    background-color: #eeeeee;
}

.slider ul {
    padding: 0px;
}

.slides li {
    list-style: none;
    padding: 0;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 105px;
    z-index: 100;
    
    width: 160px;
    height: 18px;

    text-align: center;
    font-size: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.slider-controls label {
    position: relative;
    
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    padding: 8px;
    
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label::after {
    content: "";
    
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    
    width: 18px;
    height: 18px;
    
    background: #ffffff;
    border-radius: 50%;
}

.slider-controls .current::before {
    content: "";
    
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    
    width: 4px;
    height: 4px;
    margin: -4px;
    
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-list {
    list-style: none;

    margin: 0;
    padding: 0;
}

.slider-item {
    display: none;
    padding: 78 0 80 0;
}

li.slide-content.current{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

li.slide-content {
    display: none;
}

.slide-content b {
    display: block;
    max-width: 540px;
    margin-top: 52px;
    margin-bottom: 26px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slide-content img {
    position: relative;
    left:-33px;
    margin-top:-25px;

    display:block;

}

.slide-content p {
    width: 430px;
    margin-bottom: 40px;

    line-height: 24px;
}

.slider-item {
    display: none;
    padding: 78px 0 80px 0;
}

.slides a {
    width: 240px;
}

.pagination-item a {
    list-style: none;

    color: #000000;
    background-color: #eeeeee;

    text-transform: uppercase;
}

form .btn:hover,
form .btn:focus,
.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
}

form .btn:active {
    color: #000000;

    filter: alpha(Opacity=100);
    background-color: #dfdfdf;
    opacity: 0.3;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 0px 0px inset;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 0px 0px inset;
}

/*Services*/
section.servises {
    max-width: 1160px;
}

.servises h3 {
    margin-top: 25px;
    margin-bottom: 17px;

    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform:uppercase;
}

.sites-item {
    width: 300px;
    height: 146px;

    background-image: url("../img/sites.jpg");
    background-color: #fb565a;
}

.apps-item {
    width: 300px;
    height: 146px;

    background-image: url("../img/apps.jpg");
    background-color: #00ca74;
}

.presentations-item {
    width: 300px;
    height: 146px;

    background-image: url("../img/presentations.jpg");
    background-color: #efc849;
}

.servise-items {
    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    min-height: 427px;
    margin-bottom: 40px;
    padding: 0;

    border-bottom: 2px solid #eeeeee;
}

.servise-item {
    width: 300px;
    min-height: 346px;
    margin-right: 100px;
}

.servise-item p {
    display: block;
    width: 260px;
    margin-bottom: 31px;

    line-height: 24px;
}

.btn {
    width: 160px;
}

.btn-apps {
    background:#00ca74;
}
    
.btn-apps:hover,
.btn-apps:focus {
    background: #00bc6c;
}
    
.btn-apps:active {
    background: #00aa62;
}
    
.btn-presentations {
    background:#efc84a;
}
    
.btn-presentations:hover,
.btn-presentations:focus {
    background: #eab534;
}
    
.btn-presentations:active {
    background: #e5a722;
}

/*Info*/

.info-content-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 53px;
    padding: 0;
}

.info-content {
    width: 900px;
    margin-right: 140px; 
    min-height: 414px;
}

.details {
    width: 660px;
    min-height: 360px;
}

.info-content b {
    display:inline-block;
    vertical-align: middle;
    width: 660px;
    margin-top: 34px;
    margin-bottom: 18px;

    font-size: 45px;
    line-height: 45px;
}

.info-content p {
    list-style: none;

    margin-bottom: 14px;

    line-height: 24px;
}

.info-content span,
.info-results caption {
    display: inline-block;
    vertical-align: top;
    width:360px;
    margin-top: 22px;

    font-weight: bold;
    text-transform: uppercase;
}

.orders-list {
    position: relative;
    padding-left: 36px;
}

li.order-list {
    list-style: none;
    margin-bottom: 18px;
}

li.order-list::before {
    position: absolute;
    content: "";

    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 2px;
    margin: 15px 10px 4px -35px;

    background-color: #fb565a;
}

.details caption {
    margin-bottom: 41px;
}

.result td,
.indicators td {
    list-style: none;

    display: inline-block;
    width: 115px; 

    text-align: left;
}

.indicators td {
    line-height: 18px;
    padding-top: 13px;
}

.result sup {
    font-size: 26px;
}

.result span {
    font-size: 45px;
    font-weight: bold; 
    text-align: center;
}

/*Partners*/

.partners-logo {
    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 180px; 
    margin-bottom: 80px;
    margin-top:0;
    padding: 0;

    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.partners-logo li {
    list-style: none;
}

.partners-logo a {
    position: relative;

    display:inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width:260px;
    height:180px;
    margin-right: 36px;

    filter: alpha(Opacity=20);
    opacity: 0.20;
}

.partners-logo a:last-child {
    margin-right: 0;
}

.partners-logo a:hover {
    filter: alpha(Opacity=100);
    opacity: 1;
}

.partners-logo a:active {
    filter: alpha(Opacity=100);
    opacity: 0.1;
}

.partners-logo li:not(:first-child)::before {
    position: absolute;
    content: "";
    display: inline-block;
    vertical-align: middle;
    z-index: 10;

    width: 2px;
    height: 53px;

    margin-top: 65px;
    margin-left: -21px;

    background-color: #eeeeee;
}

/*Inner-page*/

section.page-title {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.page-title {
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    margin: 0 auto;
    margin-bottom: 53px;
    padding: 0;

    font-size: 55px;
    line-height: 55px;
    font-weight: bold;
    text-align: center;
}

.catalog-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 61px;
}

.catalog .page-title {
    list-style: none;

    height: 233px;
    padding-top: 70px;

    background-color: #eeeeee;
}

/*Filters*/

.filters {
    list-style: none;

    width: 260px;
    min-height: 770px;
    padding: 0;
    border: 0;
}

.filters fieldset {
    margin: 0;
    padding:0;
}

fieldset .price {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
    margin-bottom: 48px;
}

.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.range-controls {
    position: relative;
    
    height: 41px;
    margin-bottom: 15px;
    padding-top: 38px;
    padding-right: 20px;
    padding-left: 20px;
    
    background-color: #f1f1f1;
    
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;

    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;

    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 29px;
    left: 0;
    
    width: 4px;
    height: 4px;
    padding: 0;

    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
            box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    
    font-size: 16px;
    text-transform: uppercase;
}

.price-controls input {
    list-style: none;
    width: 60px;
    padding: 10px 10px;
    margin-left: 8px;
    
    font-family: "Roboto", Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;

    background: #eeeeee;
    border: none;
    border-radius: 5px;
}

.max-price {
    text-align: right;
}

.filters ul {
    padding-left: 0;
}

.filter ul {
    margin: 0;
    
    list-style: none;
    line-height: 18px;
}

.filters legend {
    padding-top: 4px;

    font-size: 19px;
    line-height: 30px;
    font-weight: 700;

    text-transform:uppercase;
}

.filters ul {
    list-style: none;

    margin-top: 11px;
    margin-bottom: 36px;

    line-height: 30px;
    color: #283136;
}

.filter-option {
    margin-bottom: 10px;
    padding-left: 20px;
}

.filter-option label {
    position: relative;

    display: block;
    padding-left: 17px;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;

    left: -18px;
    top: 1px;

    background-image: url("../img/radio-off.svg");
    width: 25px;
    height: 25px;

    opacity: 0.4;
}

.filter-input-radio:checked + label::before {
    content: "";

    background-image: url("../img/radio-on.svg");

    opacity: 0.4;
}

.filter-input:hover + label,
.filter-input:focus + label,
.filter-input-radio:hover + label,
.filter-input-radio:focus + label,
.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
    opacity: 1;
}

.filter-input-radio:disabled + label {
    opacity: 0.1;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 3px;

    width: 23px;
    height: 23px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.4;
}

.filter-input-checkbox:checked + label::before{
    content:"";
    position: absolute;
    left: -18px;
    top: 3px;

    width: 26px;
    height: 23px;

    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.4;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
    opacity: 1;
}

button.btn {
    list-style: none;

    display: block;
    width: 100%;
    height: 50px;
    margin-top: 9px;
    
    font-weight: 600;
    color: #000000;

    background: #eeeeee;
}

.sorting-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 760px;
    margin: 0;
}

.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 18px;
    margin-bottom: 42px;
}

.sorting-items {
    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 273px;
    margin: 0;
    padding: 0;
    margin-right: 48px;
}

.sorting b {
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 266px;
}

.sorting a.current {
    color: #000000;
}

.sorting a {
    list-style: none;
    display: block;

    font-size: 14px;
    text-transform: uppercase;

    color: #a6a6a6;
}

.sorting-arrows {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 2px;
}

.sorting-controls a.current {
    content: "";
    display: inline-block;

    border: 10px solid #000000;
    border-right-width: 6px;
    border-left-width: 6px;
    border-right-color: transparent;
    border-left-color: transparent;

    vertical-align: middle;
}

a.arrow {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    padding-top: 8px;
}

.sorting a.current.arrow-down::after {
    padding-top: 5px;

    border-top-color:#000000;
}

.arrow::after {
    content: "";
    display: inline-block;
    vertical-align: top;

    border: 10px solid #a6a6a6;
    border-right-width: 6px;
    border-left-width: 6px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.arrow-up::after {
    border-top-width: 0;
    margin-left: 14px;
}

.arrow-down::after {
    border-bottom-width: 0;
}

.sorting a:focus,
.sorting a:hover {
    color: #000000;
} 

.filters fieldset {
    border: none;
}

/*Catalog*/

.good-items {
    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 760px;
    padding: 0;
    margin-bottom: 25px;
}

.catalog-goods {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.good-item {
    width: 360px;
    height: 616px;
    margin-bottom: 35px;
}

.good-buttons {
    display: none;
}

.pagination-list {
    list-style: none;
}

.filters-input:hover + label,
.pagination-list a:hover,
.filters-input:focus + label,
.pagination-list a:focus {
    color: #000000;
}

.filters-input:disabled + label,
.pagination-list a:disabled {
    color: #283136;
    opacity: 0.3;
}

.catalog-items {
    list-style: none;
}

.good-items article {
    position: relative;
    width: 360px;
    height: 614px;
    padding-top: 40px;
    margin-bottom: 35px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    overflow: hidden; 

    vertical-align: top;

    background-color:#e9e9e9;
    border-radius: 3px;
    -webkit-box-shadow:  0 0 0 1px rgb(233, 233, 233);
            box-shadow:  0 0 0 1px rgb(233, 233, 233)
}

span.decoration-circle {
    position: absolute;
    left: 39px;
    top: 13px;

    width: 14px;
    height: 14px;

    border-radius: 50px;
    background-color: #ffffff;
}

span.decoration-circle:after {
    content: "";
    position: absolute;
    left: -23px;

    width: 14px;
    height: 14px;

    background-color: #ffffff;
    border-radius: 50px;
}

span.decoration-circle:before{
    content: "";
    position: absolute;
    left: 23px;

    width: 14px;
    height: 14px;

    background-color: #ffffff;
    border-radius: 50px;
}

.good-items article:hover {
    background-color: #4d4d4d;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.good-items img {
    display: block;
    width: 362px;
    height: 576px;
}

.good-item .actions {
    position: absolute;
    bottom: -3px;
    z-index: 10;

    width: 362px;
    min-height: 230px;
    height: auto;

    text-align: center;

    background-color: #eeeeee;
}

.actions h2 {
    margin: 0;
}

.good-title a {
    list-style: none;

    display: block;
    margin-top: 30px;

    font-size: 18px;
    text-transform: uppercase;

    color:#000000;   
}

.good-item p {
    display: inline-block;
    vertical-align: middle;
    width: 230px;
    margin:0, auto;
    margin-top: 16px;
    margin-bottom: 30px;

    line-height: 18px;
    text-align: center;

    color:#666666;
}

.good-item .actions {
    display: none;
}

.good-item:hover .actions {
    display: block;
}

.actions .btn {
    display: block;
    width: 200px;

    margin: auto;
    margin-bottom:43px;

    text-align: center;
}

/*Pagination*/

.pagination-list {
    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.pagination-item:not(:last-child) {
    margin-right: 12px;
}

.pagination-item a {
    display: block;
    padding: 10px 20px;

    font-weight: 500;
    color: #000000;
    font-size: 16px;
    text-align: center;

    background-color: #eeeeee;
    border-radius: 3px;
}

.pagination-list li:last-child {
    width: 260px;
}

.pagination-item a.current {
    list-style: none;

    display: block;
    padding: 8px 18px;

    background-color: #ffffff;
    border: 2px solid #dbdbdb;
    border-radius: 3px;
}

.pagination-item a:active {
    color: #000000;

    background: #d5d5d5;
    opacity: 0.3;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 0px 0px inset;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 0px 0px inset;
}

  background-color: #eeeeee;
}

.main-navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 115px;
  margin-bottom: 17px;
  font-weight: 600;
  text-transform: uppercase;

  background-color: transparent;
}

.main-header-logo a {
  list-style: none;
}

.main-header-logo img {
  width: 160px;
  height: 65px;
  margin-right: 203px;
  padding: 0;
  padding-top: 35px;
}

.main-header-logo img:hover {
  opacity: 0.8;
}

.main-header-logo img:active {
opacity: 0.3;
}

.site-navigation,
.user-block {
  list-style: none;
  display: block;

  margin: 0;
  padding: 0;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 633px;
  min-height: 31px;
  padding-top: 64px;
}

.site-navigation li.current {
  height: 33px;
  border-bottom: 3px solid #fb565a;
}

.user-block  {
  max-width: 165px;
  width: 74px;

  margin-left: 40px;
  padding-top: 64px;

  white-space: normal;
}

.site-navigation li:not(:last-child) {
  margin-right: 46px;
}

.site-navigation a,
.user-block a {
  display: block;

  color: #000000;
}

.header-link a:hover {
  color: #fb565a;
}
  
.header-link a:active {
  color: #000000;
  filter: alpha(Opacity=100);
  opacity: 0.3;
}

.user-block .basket-link {
  position: relative;

  padding-left: 50px;
}

.basket-link::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 9px;

  width: 16px;
  height: 17px;

  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Map-address*/

.map {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  width: 100%;
  height: 418px;
  margin-left: auto;
  margin-right: auto;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  height: 416px;
  min-width: 1200px;
  margin:0 auto;

  background-image: url("../img/map.jpg");
  background-color: #e9e8e3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px 420px;
}

 .map .address {
  position: relative;

  width: 1200px;
  margin: 0 auto;
}

.address-container {
  width: 220px;
  margin-left: 20px;
  margin-top: 53px;
  padding: 48px 49px;
  
  text-align: left;

  background-color: #ffffff;
}

.address-title {
  display: block;
  padding-top: 2px;

  font-size: 18px;
  line-height: 30px;
  
  text-transform:uppercase;
}

.address p {
  display: block;
  width: 205px;
  margin-top: 23px;

  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.address-tel {
  display: inline-block;
  margin-top: -4px;
  margin-bottom: 31px;
  vertical-align: middle;

  color: #666666;
  text-decoration: none;
}

.address .btn {
  width: 100%;
  padding: 10px 0;
  margin: 0;
}

 /*Footer*/
.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 67px;
  margin-bottom: 59px;
}

.footer-social {
  width: 260px;
  height: 80px;
  margin-right: 141px;
}

.footer-social ul {
  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 260px;
  margin: 0 auto;
  padding: 0;

  text-align: center;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  width: 80px;
  height: 80px;

  border-radius: 50px;
  background-color: #e1e1e1;
}


.social-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  margin-right: 70px;
  padding-top: 25px;

  border-radius: 50px;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active,
.social-button:active {
  background: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 0px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 0px 0px inset;
}

.social-sale {
  list-style: none;

  width: 560px;
  min-height: 80px;

  text-align: left;
}
  
.social-sale b {
  display: block;

  margin-top: 6px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
}
  
.social-sale p {
  display: block;
  margin-top: 5px;
}

 /*Modal*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 960px;
  height: 590px;
  padding: 67px 100px 75px 100px;
  margin: auto;

  font-size: 0;
  color: #00000017;

  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
          box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal.is-hidden {
  display: none;
}

.modal-close {
  position: absolute; 
  top: 78px;
  right: 90px;
  
  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

  cursor: pointer;
}

.modal-close:focus,
.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal h2 {
  margin-top: 0;
  margin-bottom: 42px;
  height: 36px;

  font-size: 45px;
  line-height: 45px;

  color:#000000;
}

.modal-content {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal label {
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.modal-content p.width-field {
  width: 100%;
}

.modal-content p {
  display: block;
  width: 360px;
  margin-bottom: 37px;

  color: #000000;
}

.modal input[type="text"],
.modal input[type="email"]{
  width: 100%;
  height: 50px;
}

.modal input[type="text"],
.modal input[type="email"],
.modal textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 13px;

  font-size: 14px;

  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.modal input:hover,
.modal textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal-input.text-field,
.modal input:focus,
.modal textarea:focus,
.modal input:active,
.modal textarea:active {
  border: 2px solid #000000;
}

input[value],
textarea[placeholder] {
  color:#444444;
  opacity: 0.5;
}

.modal textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  width: 100%;
  min-height: 115px;
  margin-right: 0;
  padding-top: 9px;
  padding-bottom: 12px;

  resize: none;
  
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.modal .btn {
  display: block;
  width: 260px;
  height: 50px;
  padding: 0 30px;
  margin-top: 0;

  text-align: center;
  color: #ffffff;

  border: none;
  background: #fb565a;
}

/*Slider*/

.slider {
  position: relative;
  min-height: 402px;
  margin-bottom: 76px;

  background-color: #eeeeee;
}

.slider ul {
  padding: 0px;
}

.slides li {
  list-style: none;
  padding: 0;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 108px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  border-radius: 50%;
}

.slider-controls .current::before {
  content: "";
  
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  
  width: 4px;
  height: 4px;
  margin: -4px;
  
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
  padding: 78 0 80 0;
}

li.slide-content.current{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

li.slide-content {
  display: none;
}

.slide-content b {
  display: block;
  max-width: 540px;
  margin-top: 52px;
  margin-bottom: 26px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slide-content img {
  position: relative;
  left:-33px;
  margin-top:-25px;

  display:block;

}

.slide-content p {
  width: 430px;
  margin-bottom: 40px;

  line-height: 24px;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slides a {
  width: 240px;
}

.pagination-item a {
  list-style: none;

  color: #000000;
  background-color: #eeeeee;

  text-transform: uppercase;
}

form .btn:hover,
form .btn:focus,
.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}
 
form .btn:active {
  color: #000000;

  filter: alpha(Opacity=100);
  background-color: #dfdfdf;
  opacity: 0.3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 0px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 0px 0px inset;
}

 /*Services*/
 section.servises {
   max-width: 1160px;
 }

.servises h3 {
  margin-top: 25px;
  margin-bottom: 17px;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform:uppercase;
}

.sites-item {
  width: 300px;
  height: 146px;

  background-image: url("../img/sites.jpg");
  background-color: #fb565a;
}

.apps-item {
  width: 300px;
  height: 146px;

  background-image: url("../img/apps.jpg");
  background-color: #00ca74;
}

.presentations-item {
  width: 300px;
  height: 146px;

  background-image: url("../img/presentations.jpg");
  background-color: #efc849;
}

.servise-items {
  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  min-height: 427px;
  margin-bottom: 40px;
  padding: 0;

  border-bottom: 2px solid #eeeeee;
}

.servise-item {
  width: 300px;
  min-height: 346px;
  margin-right: 100px;
}

.servise-item p {
  display: block;
  width: 260px;
  margin-bottom: 31px;

  line-height: 24px;
}

.btn {
  width: 160px;
}

.btn-apps {
  background:#00ca74;
}
  
.btn-apps:hover,
.btn-apps:focus {
  background: #00bc6c;
}
  
.btn-apps:active {
  background: #00aa62;
}
  
.btn-presentations {
  background:#efc84a;
}
  
.btn-presentations:hover,
.btn-presentations:focus {
  background: #eab534;
}
  
.btn-presentations:active {
  background: #e5a722;
}

 /*Info*/

.info-content-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 53px;
  padding: 0;
}

.info-content {
  width: 900px;
  margin-right: 140px; 
  min-height: 414px;
}

.details {
  width: 660px;
  min-height: 360px;
}

.info-content b {
  display:inline-block;
  vertical-align: middle;
  width: 660px;
  margin-top: 34px;
  margin-bottom: 18px;

  font-size: 45px;
  line-height: 45px;
}

.info-content p {
  list-style: none;

  margin-bottom: 14px;

  line-height: 24px;
}

.info-content span,
.info-results caption {
  display: inline-block;
  vertical-align: top;
  width:360px;
  margin-top: 22px;

  font-weight: bold;
  text-transform: uppercase;
}

.orders-list {
  position: relative;
  padding-left: 36px;
}

li.order-list {
  list-style: none;
  margin-bottom: 18px;
}

li.order-list::before {
  position: absolute;
  content: "";

  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 2px;
  margin: 15px 10px 4px -35px;

  background-color: #fb565a;
}

.details caption {
  margin-bottom: 41px;
}

.result td,
.indicators td {
  list-style: none;

  display: inline-block;
  width: 115px; 

  text-align: left;
}

.indicators td {
  line-height: 18px;
  padding-top: 13px;
}

.result sup {
  font-size: 26px;
}

.result span {
  font-size: 45px;
  font-weight: bold; 
  text-align: center;
}

 /*Partners*/

.partners-logo {
  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 180px; 
  margin-bottom: 80px;
  margin-top:0;
  padding: 0;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.partners-logo li {
  list-style: none;
}

.partners-logo a {
  position: relative;

  display:inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width:260px;
  height:180px;
  margin-right: 36px;

  filter: alpha(Opacity=20);
  opacity: 0.20;
}

.partners-logo a:last-child {
  margin-right: 0;
}

.partners-logo a:hover {
  filter: alpha(Opacity=100);
  opacity: 1;
}

.partners-logo a:active {
  filter: alpha(Opacity=100);
  opacity: 0.1;
}

.partners-logo li:not(:first-child)::before {
  position: absolute;
  content: "";
  display: inline-block;
  vertical-align: middle;
  z-index: 10;
 
  width: 2px;
  height: 53px;

  margin-top: 65px;
  margin-left: -21px;

  background-color: #eeeeee;
}

 /*Inner-page*/

section.page-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-title {
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  margin: 0 auto;
  margin-bottom: 53px;
  padding: 0;

  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
  text-align: center;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 61px;
}

.catalog .page-title {
  list-style: none;

  height: 233px;
  padding-top: 70px;

  background-color: #eeeeee;
}

 /*Filters*/

.filters {
  list-style: none;

  width: 260px;
  min-height: 770px;
  padding: 0;
  border: 0;
}

.filters fieldset {
  margin: 0;
  padding:0;
}

fieldset .price {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
  margin-bottom: 48px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 38px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  list-style: none;
  width: 60px;
  padding: 10px 10px;
  margin-left: 8px;
  
  font-family: "Roboto", Verdana, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  background: #eeeeee;
  border: none;
  border-radius: 5px;
}

.max-price {
  text-align: right;
}

.filters ul {
  padding-left: 0;
}

.filter ul {
  margin: 0;
  
  list-style: none;
  line-height: 18px;
}

.filters legend {
  padding-top: 4px;

  font-size: 19px;
  line-height: 30px;
  font-weight: 700;

  text-transform:uppercase;
}

.filters ul {
  list-style: none;

  margin-top: 11px;
  margin-bottom: 36px;

  line-height: 30px;
  color: #283136;
}

.filter-option {
  margin-bottom: 10px;
  padding-left: 20px;
}

.filter-option label {
  position: relative;

  display: block;
  padding-left: 17px;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;

  left: -18px;
  top: 1px;

  background-image: url("../img/radio-off.svg");
  width: 25px;
  height: 25px;

  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  content: "";

  background-image: url("../img/radio-on.svg");

  opacity: 0.4;
}

.filter-input:hover + label,
.filter-input:focus + label,
.filter-input-radio:hover + label,
.filter-input-radio:focus + label,
.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  opacity: 1;
}

.filter-input-radio:disabled + label {
  opacity: 0.1;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -18px;
  top: 3px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before{
  content:"";
  position: absolute;
  left: -18px;
  top: 3px;

  width: 26px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  opacity: 1;
}

button.btn {
  list-style: none;

  display: block;
  width: 100%;
  height: 50px;
  margin-top: 9px;
  
  font-weight: 600;
  color: #000000;

  background: #eeeeee;
}

.sorting-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 760px;
  margin: 0;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 18px;
  margin-bottom: 42px;
}

.sorting-items {
  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 273px;
  margin: 0;
  padding: 0;
  margin-right: 48px;
}

.sorting b {
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 266px;
}

.sorting a.current {
  color: #000000;
}

.sorting a {
  list-style: none;
  display: block;

  font-size: 14px;
  text-transform: uppercase;

  color: #a6a6a6;
}

.sorting-arrows {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 2px;
}

.sorting-controls a.current {
  content: "";
  display: inline-block;

  border: 10px solid #000000;
  border-right-width: 6px;
  border-left-width: 6px;
  border-right-color: transparent;
  border-left-color: transparent;

  vertical-align: middle;
}

a.arrow {
  display: inline-block;
  font-size: 0;
  padding-top: 8px;
}

.sorting a.current.arrow-down::after {
  padding-top: 5px;

  border-top-color:#000000;
}

.arrow::after {
  content: "";
  display: inline-block;
  vertical-align: top;

  border: 10px solid #a6a6a6;
  border-right-width: 6px;
  border-left-width: 6px;
  border-right-color: transparent;
  border-left-color: transparent;

}

.arrow-up::after {
  border-top-width: 0;
  margin-left: 15px;
}

.arrow-down::after {
  border-bottom-width: 0;
}

.sorting a:focus,
.sorting a:hover {
  color: #000000;
} 

.filters fieldset {
  border: none;
}

 /*Catalog*/

.good-items {
  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 760px;
  padding: 0;
  margin-bottom: 25px;
}

.catalog-goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.good-item {
  width: 360px;
  height: 616px;
  margin-bottom: 35px;
}

.good-buttons {
  display: none;
}

.pagination-list {
  list-style: none;
}

.filters-input:hover + label,
.pagination-list a:hover,
.filters-input:focus + label,
.pagination-list a:focus {
  color: #000000;
}

.filters-input:disabled + label,
.pagination-list a:disabled {
  color: #283136;
  opacity: 0.3;
}

.catalog-items {
  list-style: none;
}

.good-items article {
  position: relative;
  width: 360px;
  height: 614px;
  padding-top: 40px;
  margin-bottom: 35px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  overflow: hidden; 

  vertical-align: top;

  background-color:#e9e9e9;
  border-radius: 3px;
  -webkit-box-shadow:  0 0 0 1px rgb(233, 233, 233);
          box-shadow:  0 0 0 1px rgb(233, 233, 233)
}

span.decoration-circle {
  position: absolute;
  left: 39px;
  top: 13px;

  width: 14px;
  height: 14px;

  border-radius: 50px;
  background-color: #ffffff;
}

span.decoration-circle:after {
  content: "";
  position: absolute;
  left: -23px;

  width: 14px;
  height: 14px;

  background-color: #ffffff;
  border-radius: 50px;
}

span.decoration-circle:before{
  content: "";
  position: absolute;
  left: 23px;

  width: 14px;
  height: 14px;

  background-color: #ffffff;
  border-radius: 50px;
}

.good-items article:hover {
  background-color: #4d4d4d;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
          box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.good-items img {
  display: block;
  width: 362px;
  height: 576px;
}

.good-item .actions {
  position: absolute;
  bottom: -3px;
  z-index: 10;

  width: 362px;
  min-height: 230px;
  height: auto;

  text-align: center;

  background-color: #eeeeee;
}

.actions h2 {
  margin: 0;
}

.good-title a {
  list-style: none;

  display: block;
  margin-top: 30px;

  font-size: 18px;
  text-transform: uppercase;

  color:#000000;   
}

.good-item p {
  display: inline-block;
  vertical-align: middle;
  width: 230px;
  margin:0, auto;
  margin-top: 16px;
  margin-bottom: 30px;

  line-height: 18px;
  text-align: center;

  color:#666666;
}

.good-item .actions {
  display: none;
}

.good-item:hover .actions {
  display: block;
}

.actions .btn {
  display: block;
  width: 200px;

  margin: auto;
  margin-bottom:43px;

  text-align: center;
}

 /*Pagination*/

.pagination-list {
  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
 
.pagination-item:not(:last-child) {
  margin-right: 12px;
}

.pagination-item a {
  display: block;
  padding: 10px 20px;

  font-weight: 500;
  color: #000000;
  font-size: 16px;
  text-align: center;

  background-color: #eeeeee;
  border-radius: 3px;
}

.pagination-list li:last-child {
  width: 260px;
}

.pagination-item a.current {
  list-style: none;

  display: block;
  padding: 8px 18px;

  background-color: #ffffff;
  border: 2px solid #dbdbdb;
  border-radius: 3px;
}

.pagination-item a:active {
  color: #000000;

  background: #d5d5d5;
  opacity: 0.3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 0px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 0px 0px inset;
}