body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
}
  
img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  width: 160px;
  padding: 13px;
  margin-top: 25px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background:#fb565a;
  border-radius: 3px;
 }

 .btn:hover,
 .btn:focus{
  background: #e74246;
}
  
.btn:active {
  background: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 0px 0px inset;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Header*/

.main-header {
  min-height: 114px;
  background-color: #eeeeee;
}

.main-navigation {
  list-style: none;
  display: flex;
  font-weight: 700;
  text-transform: uppercase;
  /* Временно для сетки */
  min-height: 114px;
  background-color: transparent;
}

.main-header-logo img {
  width: 160px;
  height: 65px;
  margin-right:200px;
  padding:0;
  padding-top:50px;
}

.site-navigation,
.user-block {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 660px;
  height: 27px;
  padding-top: 77px;
}

.site-navigation .current {
  padding-bottom:20px;
  border-bottom: 2px solid #fb565a;
}

.user-block  {
  max-width: 165px;
  margin-left: 40px;
  padding-top: 77px;
}

.site-navigation li:not(:last-child) {
  margin-right: 47px;
}

.site-navigation a,
.user-block a {
  display: block;
  color: #000000;
}

.header-link a:hover {
  color: #fb565a;
}
  
.header-link a:active {
  color: #000000;
  filter: alpha(Opacity=100);
  opacity: 0.3;
}

/*Map-address*/
.map {
  position: relative;
  display: inline-block;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

 .map .address {
  position: absolute;
  top: 55px;
  left: 20px;
  width: 319px;
  height: 308px;
  text-align: center;
  background:#ffffff;
}

.address-title {
  display: block;
  margin-top: 49px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform:uppercase;
}

.address p {
  width:209px;
  margin-top: 24px;
  margin-left: 50px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.address-tel {
  display: block;
  margin-bottom: 32px;
  color: #666666;
  text-decoration: none;
}

.address .btn {
  width: 219px;
  margin: 0 auto;
}

 /*Footer*/
.main-footer .container {
  display: flex;
  margin-top: 68px;
}

.social-buttons {
  list-style: none;
  width: 260px;
  min-height: 80px;
  margin-left: 0;
}

.social-sale {
  list-style: none;
  width: 560px;
  min-height: 80px;
  text-align: right;
}
  
.social-sale b {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}
  
.social-sale p {
  line-height: 22px;
}

 /*Modal*/
.modal {
  color: #000000;
  background-color: #ffffff;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
}
.modal label {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.modal input[type="text"],
.modal input[type="email"],
.modal textarea[type="text"] {
  font: inherit;
  font-weight: regular;
  color: #444444;
  filter: alpha(Opacity=100);
  opacity: 0.5;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.modal input:hover,
.modal textarea:hover,
.modal input:focus,
.modal textarea:focus {
  border: 2px solid #b4b9bb;
}

.modal input:active,
.modal textarea:active {
  border: 2px solid #000000;
}

button {
  display:inline-block;
  border:none;
}

/*Slider*/

.slider {
  position: relative;
  width: 1160px;
  height: 310px;
  padding-bottom: 80px;
  margin-bottom:80px;
}

.slider-controls {
  position:absolute;
  bottom: 94px;
  left: 50%;
  height: 10px;
}

.slide {
  position: absolute;
}

li.slide-slide-content {
  list-style: none;
  padding-top: 83px;
  color:#283136;
}

.slide-title {
  font-size: 55px;
  line-height: 55px;
}

.slide-slide-content img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.slide-slide-content:not(:first-child) {
  display: none;
}

.slides img {
  text-align: right;
}

.catalog .page-title {
  list-style: none;
  height: 244px;
  background-color: #eeeeee;
}

form .btn,
.pagination-item a {
  list-style: none;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}

form .btn:hover,
form .btn:focus,
.pagination-item a:hover,
.pagination-item a:focus {
 background-color: #dfdfdf;
}
 
form .btn:active {
 color: #000000;
 filter: alpha(Opacity=100);
 opacity: 0.3;
 background-color: #dfdfdf;
 box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 0px 0px inset;
}

 /*Services*/

.servises h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform:uppercase;
 }

.servise-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  padding: 0;
 }

.servise-item {
  width: 300px;
  min-height: 346px;
 }


.btn-apps {
  background:#00ca74;
}
  
.btn-apps:hover,
.btn-apps:focus {
  background: #00bc6c;
}
  
.btn-apps:active {
  background: #00aa62;
}
  
.btn-presentations {
  background:#efc84a;
}
  
.btn-presentations:hover,
.btn-presentations:focus {
  background: #eab534;
}
  
.btn-presentations:active {
  background: #e5a722;
}

 /*Info*/

.info-content-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 0;
 }

.info-content {
   width: 660px;
   margin-right: 140px; 
   min-height: 414px;
 }

.details {
  width: 660px;
  min-height: 360px;
 }

.info-content b {
  font-size: 45px;
  line-height: 45px;
}

.info-content span,
.details caption {
  font-weight: bold;
  text-align: center;
  text-transform:uppercase;
}

li.order-list {
  list-style: none;
}

.result span {
  font-size: 45px;
  font-weight: bold; 
}

 /*Partners*/

.partners-logo {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 0;
  
  /* Временно для сетки */
  min-height: 185x; 
 }

.partners-logo li {
  list-style: none; 
}

.partners-logo a {
  display: block;
  filter: alpha(Opacity=20);
  opacity: 0.2;
}
  
.partners-logo a::after {
  background-color: #eeeeee;
  opacity: 1;
}
  

.partners-logo a:hover,
.partners-logo a:focus {
  filter: alpha(Opacity=100);
  opacity: 1;
}
  
.partners-logo a:active {
  filter: alpha(Opacity=100);
  opacity: 0.1;
}

.page-title {
  box-sizing:border-box;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
  margin-bottom: 55px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog h1 {
  padding-top:70px;
}

.filters {
  width: 260px;
  min-height: 770px;
  border: 0;
}

.sorting-catalog {
  display: flex;
  flex-direction: column;
  width: 760px;
  margin:0;
}

.sorting {
  display: flex;
  width: 100%;
  min-height: 18px;
  margin-bottom: 55px;
}

.sorting-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.sorting b {
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 270px;
}

.sorting a {
  color: #000000;
  filter: alpha(Opacity=100);
  opacity: 0.3;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 25px;
}

.sorting .current {
  color: #000000;
}

.pagination-list {
  width: 460px;
  height:50px;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform:uppercase;
}

.filters ul {
  list-style: none;
  line-height: 30px;
  color: #283136;
}

.good-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-goods {
  display: flex;
  flex-wrap: wrap;
}

.good-item {
  width: 360px;
  height: 616px;
  margin-bottom: 35px;
}

.good-buttons {
  display:none;
}

.pagination-list {
  list-style: none;
}

.filters-input:hover + label,
.pagination-list a:hover,
.filters-input:focus + label,
.pagination-list a:focus {
  color: #000000;
}

.filters-input:disabled + label,
.pagination-list a:disabled {
  color: #283136;
  opacity: 0.3;
}

.catalog-items {
  list-style: none;
}

.good-items article {
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  width: 360px;
  margin-bottom: 80px;
  background-color:#e9e9e9;
  border-radius:0 3px 0 3px;
}

.good-items article:hover {
  background-color:#4d4d4d;
}

.good-items img {
  display: block;
  width: 360px;
  height: 575px;
  margin-top: 42px;
  margin-bottom: 0px;
}

.good-items .actions {
  position: absolute;
  display: block;
  z-index:10;
  bottom: 0;
  width: 360px;
  height: 230px;
  background-color:#eeeeee;
}
 .good-title {
  font-size: 18px;
  text-transform: uppercase;   
 }

.good-items .actions{
  display:none;
}

.good-items:hover .actions{
  display:block;
}
.pagination-list {
  list-style: none;
}
 
.pagination-item current:active {
  background-color:#ffffff;
  border:1px solid #eeeeee;
}





  



 